{% extends "base.html" %}
{% block content %}
<h3 class="brown-text text-darken-4 center-align">User Profile</h3>
<div class="container">
    <div class="row">
        <div class="col s6">
            <img id="profile-image"
                src="https://images.unsplash.com/photo-1542204165-65bf26472b9b?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="film">
        </div>
        <!--I have link the name from the data base so everytime the user creates and account it shows here-->
        <div class="col s6">
            <div class="row">
                <fieldset>
                    <!-- user is equal to id_email=user_id-->
                    <legend class="color-input">Name</legend>
                    <p>{{user.fname}} {{user.lname}}</p>
                </fieldset>
            </div>
            <div class="row">
                <fieldset>
                    <legend class="color-input">Email</legend>
                    <p>{{ user.id_email }}</p>
                </fieldset>
            </div>
            <div class="row">
                <fieldset>
                    <legend class="color-input">Reviews</legend>
                    <p><a href="{{ url_for('add_review') }}" class="btn-small #2e7d32 green darken-3">
                            Add Review<i class="fas fa-plus-square right"></i>
                        </a></p>
                </fieldset>
            </div>
        </div>
        
        </div>
        </div>
{% endblock %}